.TextInput textarea {
  border: 1px solid #DEDEDE;
  outline: none;
  font-size: var(--font-size, 14px);
  color: var(--font-color, #333);
  padding: 0.5em;
  width: 100%;
}

.TextInput textarea:focus {
  border: 1px solid var(--highlight-color, #63d8fd);
  box-shadow: 0 0px 5px 0 rgba(99, 216, 253, 0.3);
}
